extends layout

include mixins/creaYeditaSoporte


block contenido
    .contenido-principal
        h1= nombrePag

        if err
            each error in err
                .alerta.error= error.texto
        +creaYeditaSoporte(soporte)