doctype html
html(lang="en")
    head
        include partials/header                                                                                                    
    body.login
        .contenedor-formulario
            h1= nombrePag
            p Ingresa tu email para reestablecer tu contraseña

            if locals.mensajes
                .alertas 
                    each categoria in Object.keys(locals.mensajes)
                        each error in mensajes[categoria]
                            .alerta(class=`${categoria}`)
                                p= error     

            form.caja-login(action="/reestablecer", method="POST") 
                .campo
                    label(for="email") E-mail:
                    input(type="email", name="email" placeholder="E-mail" value= email)                
                .campo.enviar
                    input.boton(type="submit", value="Reestablecer Contraseña")                
                .campo.acciones
                    a(href="/iniciar-sesion") Ya la recordé, volver a Iniciar sesión