doctype html
html(lang="en")
    head
        include partials/header                                                                                                    
    body.login
        .contenedor-formulario
            h1= nombrePag
            p Ingresa tu nueva contraseña            

            form.caja-login(method="POST") 
                .campo
                    label(for="password") Password
                    input(type="password", name="password" placeholder="Nuevo Password")                
                .campo.enviar
                    input.boton(type="submit", value="Reestablecer Contraseña")                